table, td {border: 1px solid black; border-collapse: collapse;}
table {width: 100%; height: 100%;}
td {width: 50%;}

td:first-child {background-color: rgb(98, 155, 101); height: 50%; vertical-align: middle;}
td:last-child {background-color: rgb(248, 191, 147); height: 50%; vertical-align: middle;}